body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  overflow:hidden;
  touch-action:pan-y;
}
#u0_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:662px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-15px;
  width:375px;
  height:662px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:323px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:236px;
  width:341px;
  height:114px;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:52px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:52px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:52px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:0px;
  width:39px;
  height:52px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:52px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:0px;
  width:54px;
  height:52px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:52px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:0px;
  width:40px;
  height:52px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:52px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:0px;
  width:54px;
  height:52px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:52px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:0px;
  width:41px;
  height:52px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:0px;
  width:52px;
  height:52px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:57px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:56px;
  height:57px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:57px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:52px;
  width:39px;
  height:57px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:57px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:52px;
  width:54px;
  height:57px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:57px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:52px;
  width:40px;
  height:57px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:57px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:52px;
  width:54px;
  height:57px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:57px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:52px;
  width:41px;
  height:57px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:57px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:52px;
  width:52px;
  height:57px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:180px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:375px;
  height:180px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:74px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:375px;
  height:74px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  overflow:hidden;
  visibility:hidden;
}
#u40_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:687px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-15px;
  width:375px;
  height:687px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:336px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:687px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-15px;
  width:375px;
  height:687px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:336px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:687px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-15px;
  width:375px;
  height:687px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:336px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:662px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-15px;
  width:375px;
  height:662px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:323px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:80px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:687px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-15px;
  width:375px;
  height:687px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:336px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:687px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-15px;
  width:375px;
  height:687px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:336px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:150px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_state6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40_state6_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:687px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-15px;
  width:375px;
  height:687px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:336px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:150px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_state7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40_state7_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:687px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-15px;
  width:375px;
  height:687px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:336px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:150px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_state8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40_state8_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:662px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-15px;
  width:375px;
  height:662px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:323px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:90px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_state9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40_state9_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:687px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-15px;
  width:375px;
  height:687px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:336px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:100px;
  height:90px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:30px;
  width:100px;
  height:90px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:573px;
  width:10px;
  height:10px;
}
#u84_img.selected {
}
#u84.selected {
}
#u85 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:573px;
  width:10px;
  height:10px;
}
#u86_img.selected {
}
#u86.selected {
}
#u87 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
